.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    /* height: auto;
    width: auto; */
}
.card{

    border-radius: 25px;
    height: auto;
    width: auto;
}
.card-footer{
    background-color:aquamarine;
}